{
  "parser": "typescript-eslint-parser",
  "env": {
    "es6": true
  },
  "rules": {
    "prefer-const": "error",
    "no-var": "error",
    "eol-last": "error",
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "semi": "error",
    "no-multiple-empty-lines": [2, {
      "max": 1,
      "maxEOF": 0,
      "maxBOF": 0
    }],
    "no-undef": "error",
    "no-multi-spaces": "error",
    "brace-style": "error",
    "quotes": [2, "single"],
    "object-curly-spacing": [2, "always"]
  },
  "plugins": ["typescript"]
}
